@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes container-spinner {
  from {
    display: block;
  }
  to {
    visibility: hidden;
  }
}
@keyframes border-circle {
  from {
    box-shadow: 0 0 0 #9356dc, 0 0 0 #ff79da, 0 0 0 #99e2d0;
  }
  to {
    box-shadow: 0 -9px 0 #9356dc, -9px 0 0 #ff79da, 0 9px 0 #99e2d0, 9px 0 0 #ff79da;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes meal {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-2 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes meal-3 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-4 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-5 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes meal-6 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-7 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-8 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes meal-9 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-10 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto";
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 650px;
}

.header__logo {
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}
.header__logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

main {
  max-width: 650px;
}

.location {
  font-size: 13px;
  font-weight: 600;
}
.location__div {
  padding: 10px 0;
  text-align: center;
  background-color: rgb(229, 229, 229);
}
.location__div i {
  padding: 0 15px 0 0;
}

.our-restaurants {
  background-color: rgb(237, 237, 237);
  text-align: center;
}
.our-restaurants__title h1 {
  font-size: 21px;
  font-weight: 900;
  width: 75%;
  margin: auto;
  padding: 30px 0 15px 0;
}
.our-restaurants__title p {
  font-size: 14px;
  color: rgb(104, 104, 104);
  width: 85%;
  padding-bottom: 10px;
  margin: auto;
  font-weight: 100;
}

.btn {
  margin-top: 15px;
  margin-bottom: 35px;
  background: rgb(147, 86, 220);
  background: linear-gradient(-10deg, rgb(147, 86, 220) 28%, rgb(255, 121, 218) 100%);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #ccc, -3px 3px 3px #ccc;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 13px;
}
.btn:hover {
  background: rgb(147, 86, 220);
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.8) 28%, rgba(255, 121, 218, 0.8) 100%);
  box-shadow: 3px 3px 3px rgb(147, 147, 147), -3px 3px 3px rgb(147, 147, 147);
}

.section__title h2 {
  font-size: 20px;
  padding: 30px 20px;
}

.functioning {
  margin: auto;
}
.functioning__steps {
  width: 98%;
}
.functioning__step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.functioning__step__number {
  text-align: center;
  font-size: 10px;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 3%;
  color: white;
}
.functioning__step__number p {
  margin-top: 4px;
}
.functioning__step__btn {
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.267), -3px 3px 5px rgba(153, 153, 153, 0.267);
  width: 90%;
  padding: 20px 35px 20px 0px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.functioning__step__btn i {
  color: gray;
  padding: 0 4% 0 0;
}
.functioning__step__btn-last {
  background-color: rgba(146, 86, 220, 0.3098039216);
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.267), -3px 3px 5px rgba(153, 153, 153, 0.267);
  width: 90%;
  padding: 20px 35px 20px 0px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.functioning__step__btn-last i {
  color: #9356dc;
  padding: 0 4% 0 0;
}
.functioning__step__btn-last:hover {
  background-color: rgba(146, 86, 220, 0.2235294118);
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.8), -3px 3px 5px rgba(153, 153, 153, 0.8);
}
.functioning__step__btn:hover {
  background-color: rgba(204, 204, 204, 0.115);
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.8), -3px 3px 5px rgba(153, 153, 153, 0.8);
}

.restaurants {
  background-color: rgba(204, 204, 204, 0.279);
  margin: auto;
  margin-top: 50px;
  max-width: 768px;
  width: 100%;
}
.restaurants__card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(153, 153, 153, 0.367), -2px 2px 5px rgba(153, 153, 153, 0.367);
}
.restaurants__card a {
  text-decoration: none;
  color: black;
}
.restaurants__card a .restaurants__card__image img {
  max-height: 180px;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__card a .restaurants__card__text {
  padding: 15px 25px 35px 15px;
}
.restaurants__card a .restaurants__card__text h3 {
  font-size: 15px;
}
.restaurants__card a .restaurants__card__text p {
  margin-top: 5px;
  margin-bottom: -20px;
}
.restaurants__card .restaurants__card__new {
  width: fit-content;
  background-color: #99e2d0;
  color: #0f8368;
  position: absolute;
  right: 5%;
  top: 10px;
  padding: 7px 10px;
  border-radius: 3px;
  font-weight: 900;
  font-size: 13px;
}

.heart {
  width: fit-content;
  position: absolute;
  top: 80%;
  left: 80%;
  transition: 0.3s ease-in-out;
}
.heart .heart-empty {
  position: absolute;
  top: 50%;
  left: 80%;
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}
.heart .heart-full {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 25px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 0.5s ease-in-out;
}
.heart:hover .heart-empty {
  display: none;
}
.heart:hover .heart-full {
  display: block;
  font-size: 25px;
  background: linear-gradient(to bottom, rgb(147, 86, 220) 44%, rgb(255, 121, 218) 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  margin-top: 45px;
  padding: 20px 0;
  background-color: rgb(50, 50, 50);
  color: white;
}
.footer__title {
  padding-left: 20px;
  font-family: "Shrikhand";
  margin-bottom: 20px;
}
.footer__parts ul {
  padding-left: 20px;
}
.footer__parts ul li {
  font-weight: 500;
  font-size: 12px;
  padding: 5px 0;
}
.footer__parts ul li:nth-child(2) i {
  padding: 0 5px 0 0px;
}
.footer__parts ul li i {
  padding: 0 10px 0 0px;
}
.footer__parts ul li a {
  color: white;
}

.container__spinner {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  animation-name: container-spinner;
  animation-duration: 3s;
  background-color: rgba(255, 255, 255, 0.7);
  animation-fill-mode: forwards;
}
.container__spinner .spinner {
  width: fit-content;
  height: 200px;
  padding: 20px;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(153, 226, 208, 0.4980392157);
  border: 4px solid #99e2d0;
  border-radius: 50%;
}
.container__spinner .spinner .circle {
  top: -2%;
  left: -4%;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  animation: spinner 3s linear infinite, border-circle 0.5s linear infinite alternate;
}
.container__spinner .spinner span {
  font-family: "Shrikhand";
  text-shadow: 2px 2px 3px rgb(255, 255, 255), -2px 2px 3px rgb(255, 255, 255);
  font-size: 1.5em;
  letter-spacing: 1px;
  animation: flip 3s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  color: #ff79da;
}
.container__spinner .spinner > span:nth-child(even) {
  color: #9356dc;
}
.container__spinner .spinner > span:nth-child(3) {
  animation-delay: 0.3s;
}
.container__spinner .spinner > span:nth-child(4) {
  animation-delay: 0.6s;
}
.container__spinner .spinner > span:nth-child(5) {
  animation-delay: 0.9s;
}
.container__spinner .spinner > span:nth-child(6) {
  animation-delay: 1.2s;
}
.container__spinner .spinner > span:nth-child(7) {
  animation-delay: 1.5s;
}
.container__spinner .spinner > span:nth-child(8) {
  animation-delay: 1.8s;
}
.container__spinner .spinner > span:nth-child(9) {
  animation-delay: 2.1s;
}

@media screen and (min-width: 650px) {
  body {
    max-width: 992px;
  }
  .header__logo {
    padding: 50px 0;
  }
  main {
    max-width: 992px;
  }
  .functioning__steps {
    width: 92%;
    margin: auto;
  }
  .functioning__step {
    width: 50%;
    padding: 15px 0;
  }
  .functioning__step:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  .functioning__step:nth-child(3) {
    margin-left: 50%;
  }
  .section__title {
    display: flex;
    justify-content: center;
  }
  .section__title h2 {
    font-size: 18px;
  }
  .restaurants__all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__title {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  .footer__parts ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__parts ul li {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
  main {
    max-width: 1440px;
  }
  .functioning__steps {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .functioning__step {
    width: 50%;
    padding: 15px 0;
  }
  .functioning__step:nth-child(3) {
    margin-left: auto;
  }
  .restaurants {
    max-width: 1440px;
    padding-bottom: 40px;
  }
  .restaurants__all {
    grid-template-columns: repeat(4, 1fr);
  }
  .restaurants__card__new {
    right: 10%;
  }
  .footer {
    margin-top: 0;
  }
  .container__spinner {
    max-width: 1440px;
  }
  .container__spinner .spinner {
    margin: auto;
    justify-content: center;
  }
}
body {
  background-color: rgb(223, 223, 223);
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0px 0;
}
.header a {
  text-decoration: none;
  color: black;
}
.header a i {
  position: relative;
  left: 25px;
}
.header__logo {
  border-bottom: none;
}
.header__logo img {
  width: 40% !important;
}

.image {
  height: fit-content;
}
.image img {
  max-width: 992px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  object-fit: cover;
}

#menu {
  width: 100%;
  display: flex;
}
#menu .menu {
  margin-top: -50px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: rgb(223, 223, 223);
}
#menu .menu__title {
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 30px;
}
#menu .menu__title h1 {
  font-family: "Shrikhand";
}
#menu .menu__title i {
  font-size: 20px;
}
#menu .menu__title i.heart-full {
  display: none;
}
#menu .menu__title__heart {
  width: fit-content;
  position: relative;
  top: 17px;
  right: 10%;
  transition: 0.4s ease-in-out;
}
#menu .menu__title__heart .heart-empty {
  position: relative;
  top: -18px;
  left: 85%;
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}
#menu .menu__title__heart .heart-full {
  display: none;
  cursor: pointer;
  position: relative;
  top: -18px;
  left: 85%;
  font-size: 20px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 0.5s ease-in-out;
}
#menu .menu__title__heart:hover .heart-empty {
  display: none;
}
#menu .menu__title__heart:hover .heart-full {
  display: block;
  font-size: 25px;
  background: linear-gradient(to bottom, rgb(147, 86, 220) 44%, rgb(255, 121, 218) 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#menu .menu__content {
  margin-top: 10px;
  max-width: 650px;
  width: 100%;
}
#menu .menu__content__bloc {
  margin-bottom: 35px;
}
#menu .menu__content__bloc .menu__title {
  padding: 0 0 0 5%;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#menu .menu__content__bloc .menu__title h3 {
  font-weight: 400;
  position: relative;
  margin-bottom: 5px;
}
#menu .menu__content__bloc .menu__title h3::after {
  content: "";
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
#menu .menu__content .menu__meal {
  animation-delay: 0.1s;
  cursor: pointer;
  position: relative;
  box-shadow: 2px 2px 2px #ccc, 2px 2px 2px #ccc, 2px 2px 2px #ccc;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: 92%;
  margin-bottom: 15px;
  overflow: hidden;
}
#menu .menu__content .menu__meal .meal-and-price {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#menu .menu__content .menu__meal .meal-and-price .menu__meal__infos {
  white-space: nowrap;
  overflow: hidden;
}
#menu .menu__content .menu__meal .meal-and-price .menu__meal__infos .meal__title h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
#menu .menu__content .menu__meal .meal-and-price .menu__meal__infos .meal__subtitle {
  display: flex;
}
#menu .menu__content .menu__meal .meal-and-price .menu__meal__infos .meal__subtitle p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-size: 12px;
}
#menu .menu__content .menu__meal .meal-and-price .meal__price {
  display: flex;
  align-items: end;
  font-weight: 800;
  transition: 1s ease;
}
#menu .menu__content .menu__meal__valid {
  display: none;
  position: absolute;
  background: #99e2d0;
  border-radius: 0 10px 10px 0;
  right: 0px;
  top: 0;
  padding: 0 13px;
  height: 100%;
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#menu .menu__content .menu__meal__valid i {
  -webkit-animation: rotate 0.6s ease-in-out both;
  animation: rotate 0.6s ease-in-out both;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}
#menu .menu__content .menu__meal:hover .meal__price {
  padding-right: 55px;
}
#menu .menu__content .menu__meal:hover .menu__meal__valid {
  display: flex;
}

.meal-1 {
  animation-name: meal;
  animation-duration: 1s;
}

.meal-2 {
  animation-duration: 1.5s;
  animation-name: meal-2;
}

.meal-3 {
  animation-duration: 2s;
  animation-name: meal-3;
}

.meal-4 {
  animation-duration: 2.5s;
  animation-name: meal-4;
}

.meal-5 {
  animation-duration: 3s;
  animation-name: meal-5;
}

.meal-6 {
  animation-duration: 3.5s;
  animation-name: meal-6;
}

.meal-7 {
  animation-duration: 4s;
  animation-name: meal-7;
}

.meal-8 {
  animation-duration: 4.5s;
  animation-name: meal-8;
}

.meal-9 {
  animation-duration: 5s;
  animation-name: meal-8;
}

.meal-10 {
  animation-duration: 5.5s;
  animation-name: meal-10;
}

.command-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.command-btn button {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 650px) {
  #menu .menu__title {
    margin-left: 50%;
    transform: translate(-30%);
    margin-bottom: 20px;
  }
  #menu .menu__content {
    max-width: 992px;
    width: 100%;
  }
  #menu .menu__meal {
    padding: 20px;
    width: 60%;
  }
  #menu .menu__meal h2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .image img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 50vh;
  }
  #menu {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  #menu .menu {
    margin: auto;
    max-width: 1000px;
    width: 100%;
  }
  #menu .menu__content {
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #menu .menu__content__meal {
    width: 92%;
  }
  .command-btn {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style-menu.css.map */
