@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes container-spinner {
  from {
    display: block;
  }
  to {
    visibility: hidden;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes meal {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-2 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes meal-3 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-4 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-5 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes meal-6 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-7 {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-8 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes meal-9 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes meal-10 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto";
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 650px;
}

.header__logo {
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}
.header__logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

main {
  max-width: 650px;
}

.location {
  font-size: 13px;
  font-weight: 600;
}
.location__div {
  padding: 10px 0;
  text-align: center;
  background-color: rgb(229, 229, 229);
}
.location__div i {
  padding: 0 15px 0 0;
}

.our-restaurants {
  background-color: rgb(237, 237, 237);
  text-align: center;
}
.our-restaurants__title h1 {
  font-size: 21px;
  font-weight: 900;
  width: 75%;
  margin: auto;
  padding: 30px 0 15px 0;
}
.our-restaurants__title p {
  font-size: 14px;
  color: rgb(104, 104, 104);
  width: 85%;
  padding-bottom: 10px;
  margin: auto;
  font-weight: 100;
}

.btn {
  margin-top: 15px;
  margin-bottom: 35px;
  background: rgb(147, 86, 220);
  background: linear-gradient(-10deg, rgb(147, 86, 220) 28%, rgb(255, 121, 218) 100%);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #ccc, -3px 3px 3px #ccc;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 13px;
}
.btn:hover {
  background: rgb(147, 86, 220);
  background: linear-gradient(-10deg, rgba(147, 86, 220, 0.8) 28%, rgba(255, 121, 218, 0.8) 100%);
  box-shadow: 3px 3px 3px rgb(147, 147, 147), -3px 3px 3px rgb(147, 147, 147);
}

.section__title h2 {
  font-size: 20px;
  padding: 30px 20px;
}

.functioning {
  margin: auto;
}
.functioning__steps {
  width: 98%;
}
.functioning__step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.functioning__step__number {
  text-align: center;
  font-size: 10px;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  left: 5%;
  color: white;
}
.functioning__step__number p {
  margin-top: 4px;
}
.functioning__step__btn {
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.267), -3px 3px 5px rgba(153, 153, 153, 0.267);
  width: 90%;
  padding: 20px 35px 20px 0px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.functioning__step__btn i {
  color: gray;
  padding: 0 4% 0 0;
}
.functioning__step__btn__last {
  background-color: rgba(146, 86, 220, 0.3098039216);
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.267), -3px 3px 5px rgba(153, 153, 153, 0.267);
  width: 90%;
  padding: 15px 35px 15px 0px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.functioning__step__btn__last i {
  color: #9356dc;
  padding: 0 4% 0 0;
}
.functioning__step__btn__last:hover {
  background-color: rgba(146, 86, 220, 0.2235294118);
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.8), -3px 3px 5px rgba(153, 153, 153, 0.8);
}
.functioning__step__btn:hover {
  background-color: rgba(204, 204, 204, 0.115);
  box-shadow: 3px 3px 5px rgba(153, 153, 153, 0.8), -3px 3px 5px rgba(153, 153, 153, 0.8);
}

.restaurants {
  background-color: rgba(204, 204, 204, 0.279);
  margin: auto;
  margin-top: 50px;
  max-width: 768px;
  width: 100%;
}
.restaurants__card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(153, 153, 153, 0.367), -2px 2px 5px rgba(153, 153, 153, 0.367);
}
.restaurants__card a {
  text-decoration: none;
  color: black;
}
.restaurants__card a .restaurants__card__image img {
  max-height: 180px;
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__card a .restaurants__card__text {
  padding: 15px 25px 35px 15px;
}
.restaurants__card a .restaurants__card__text h3 {
  font-size: 15px;
}
.restaurants__card a .restaurants__card__text p {
  margin-top: 5px;
  margin-bottom: -20px;
}
.restaurants__card .restaurants__card__new {
  width: fit-content;
  background-color: #99e2d0;
  color: #0f8368;
  position: absolute;
  right: 5%;
  top: 10px;
  padding: 7px 10px;
  border-radius: 3px;
  font-weight: 900;
  font-size: 13px;
}

.heart {
  width: fit-content;
  position: absolute;
  top: 80%;
  left: 80%;
  transition: 0.3s ease-in-out;
}
.heart .heart-empty {
  position: absolute;
  top: 50%;
  left: 80%;
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}
.heart .heart-full {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 80%;
  font-size: 25px;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 0.5s ease-in-out;
}
.heart:hover .heart-empty {
  display: none;
}
.heart:hover .heart-full {
  display: block;
  font-size: 25px;
  background: linear-gradient(to bottom, rgb(147, 86, 220) 44%, rgb(255, 121, 218) 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  margin-top: 45px;
  padding: 20px 0;
  background-color: rgb(50, 50, 50);
  color: white;
}
.footer__title {
  padding-left: 20px;
  font-family: "Shrikhand";
  margin-bottom: 20px;
}
.footer__parts ul {
  padding-left: 20px;
}
.footer__parts ul li {
  font-weight: 500;
  font-size: 12px;
  padding: 5px 0;
}
.footer__parts ul li:nth-child(2) i {
  padding: 0 5px 0 0px;
}
.footer__parts ul li i {
  padding: 0 10px 0 0px;
}
.footer__parts ul li a {
  color: white;
}

.container__spinner {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  animation-name: container-spinner;
  animation-duration: 3s;
  background-color: rgba(255, 255, 255, 0.7);
  animation-fill-mode: forwards;
}
.container__spinner .spinner {
  position: absolute;
  top: calc(50% - 10vh);
  left: calc(50% - 10vh);
  width: 20vh;
  height: 20vh;
  animation: spinner 3s linear infinite;
  animation-iteration-count: 1;
}
.container__spinner .spinner span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.container__spinner .spinner .spinner-inner-1 {
  background: linear-gradient(to right, rgba(147, 86, 220, 0.5) 0%, rgba(255, 121, 218, 0.8) 50%, rgba(153, 226, 208, 0.5) 51%);
}

@media screen and (min-width: 650px) {
  body {
    max-width: 992px;
  }
  .header__logo {
    padding: 50px 0;
  }
  main {
    max-width: 992px;
  }
  .functioning__steps {
    width: 92%;
    margin: auto;
  }
  .functioning__step {
    width: 50%;
    padding: 15px 0;
  }
  .functioning__step:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
  }
  .functioning__step:nth-child(3) {
    margin-left: 50%;
  }
  .section__title {
    display: flex;
    justify-content: center;
  }
  .section__title h2 {
    font-size: 18px;
  }
  .restaurants__all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__title {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  .footer__parts ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__parts ul li {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
  main {
    max-width: 1440px;
  }
  .functioning__steps {
    width: 80%;
    margin: auto;
    display: flex;
  }
  .functioning__step {
    width: 50%;
    padding: 15px 0;
  }
  .functioning__step:nth-child(3) {
    margin-left: auto;
  }
  .restaurants {
    max-width: 1440px;
    padding-bottom: 40px;
  }
  .restaurants__all {
    grid-template-columns: repeat(4, 1fr);
  }
  .restaurants__card__new {
    right: 10%;
  }
  .footer {
    margin-top: 0;
  }
  .container__spinner {
    max-width: 1440px;
  }
  .container__spinner .spinner {
    margin: auto;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
