@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'variables/variables';
@import 'utils/mixins';
@import 'utils/keyframes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto';
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 650px;
}

.header {
  &__logo {
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
  }
}

main {
  max-width: 650px;
}
.location {
  font-size: 13px;
  font-weight: 600;
  &__div {
    padding: 10px 0;
    text-align: center;
    background-color: rgb(229, 229, 229);
    i {
      padding: 0 15px 0 0;
    }
  }
}

.our-restaurants {
  background-color: rgb(237, 237, 237);
  text-align: center;
  &__title {
    h1 {
      font-size: 21px;
      font-weight: 900;
      width: 75%;
      margin: auto;
      padding: 30px 0 15px 0;
    }
    p {
      font-size: 14px;
      color: rgb(104, 104, 104);
      width: 85%;
      padding-bottom: 10px;
      margin: auto;
      font-weight: 100;
    }
  }
}
.btn {
  @include button;
}

.section__title {
  h2 {
    font-size: 20px;
    padding: 30px 20px;
  }
}
.functioning {
  margin: auto;
  &__steps {
    width: 98%;
  }
  &__step {
    @include center;
    margin-bottom: 20px;
    &__number {
      text-align: center;
      font-size: 10px;
      background-color: $primary;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: relative;
      left: 3%;
      color: white;
      p {
        margin-top: 4px;
      }
    }
    &__btn {
      box-shadow: 3px 3px 5px rgb(153, 153, 153, 0.267),
        -3px 3px 5px rgba(153, 153, 153, 0.267);
      width: 90%;
      padding: 20px 35px 20px 0px;
      border: none;
      border-radius: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      i {
        color: gray;
        padding: 0 4% 0 0;
      }

      &:hover {
        background-color: #9256dc4f;
        box-shadow: 3px 3px 5px rgb(153, 153, 153, 0.267),
          -3px 3px 5px rgba(153, 153, 153, 0.267);
        width: 90%;
        padding: 20px 35px 20px 0px;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        i {
          color: $primary;
          padding: 0 4% 0 0;
        }
      }
    }
  }
}

.restaurants {
  background-color: rgba(204, 204, 204, 0.279);
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
  max-width: 768px;
  width: 100%;
  &__card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(153, 153, 153, 0.367),
      -2px 2px 5px rgba(153, 153, 153, 0.367);
    a {
      text-decoration: none;
      color: black;
      .restaurants__card__image {
        img {
          max-height: 180px;
          height: 100%;
          width: 100%;
          border-radius: 15px 15px 0 0;
          object-fit: cover;
        }
      }
      .restaurants__card__text {
        padding: 15px 25px 35px 15px;
        h3 {
          font-size: 15px;
        }
        p {
          margin-top: 5px;
          margin-bottom: -20px;
        }
      }
    }
    .restaurants__card__new {
      width: fit-content;
      background-color: $third;
      color: #0f8368;
      position: absolute;
      right: 5%;
      top: 10px;
      padding: 7px 10px;
      border-radius: 3px;
      font-weight: 900;
      font-size: 13px;
    }
  }
}
.heart {
  width: fit-content;
  position: absolute;
  top: 80%;
  left: 80%;
  transition: 0.3s ease-in-out;
  .heart-empty {
    position: absolute;
    top: 50%;
    left: 80%;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s ease-in-out;
  }
  .heart-full {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 80%;
    font-size: 25px;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    transition: 0.5s ease-in-out;
  }
  &:hover {
    .heart-empty {
      display: none;
    }
    .heart-full {
      display: block;
      font-size: 25px;
      background: linear-gradient(
        to bottom,
        rgba(147, 86, 220, 1) 44%,
        rgba(255, 121, 218, 1) 94%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.footer {
  padding: 20px 0;
  background-color: rgb(50, 50, 50);
  color: white;
  &__title {
    padding-left: 20px;
    font-family: 'Shrikhand';
    margin-bottom: 20px;
  }
  &__parts {
    ul {
      padding-left: 20px;
      li {
        font-weight: 500;
        font-size: 12px;
        padding: 5px 0;
        &:nth-child(2) {
          i {
            padding: 0 5px 0 0px;
          }
        }
        i {
          padding: 0 10px 0 0px;
        }
        a {
          color: white;
        }
      }
    }
  }
}

.container__spinner {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  animation-name: container-spinner;
  animation-duration: 3s;
  background-color: rgba(255, 255, 255, 0.7);
  animation-fill-mode: forwards;
  .spinner {
    width: fit-content;
    height: 200px;
    padding: 20px;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #99e2d07f;
    border: 4px solid $third;
    border-radius: 50%;
    .circle {
      top: -2%;
      left: -4%;
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: transparent;
      border: 2px solid #fff;
      animation: spinner 3s linear infinite,
        border-circle 0.5s linear infinite alternate;
    }
    span {
      font-family: 'Shrikhand';
      text-shadow: 2px 2px 3px rgb(255, 255, 255),
        -2px 2px 3px rgb(255, 255, 255);
      font-size: 1.5em;
      letter-spacing: 1px;
      animation: flip 3s infinite linear;
      transform-origin: 0 70%;
      transform-style: preserve-3d;
      color: $secondary;
    }
    & > span:nth-child(even) {
      color: $primary;
    }
    & > span:nth-child(3) {
      animation-delay: 0.3s;
    }
    & > span:nth-child(4) {
      animation-delay: 0.6s;
    }
    & > span:nth-child(5) {
      animation-delay: 0.9s;
    }
    & > span:nth-child(6) {
      animation-delay: 1.2s;
    }
    & > span:nth-child(7) {
      animation-delay: 1.5s;
    }
    & > span:nth-child(8) {
      animation-delay: 1.8s;
    }
    & > span:nth-child(9) {
      animation-delay: 2.1s;
    }
  }
}

@media screen and (min-width: 650px) {
  body {
    max-width: 992px;
  }
  .header {
    &__logo {
      padding: 50px 0;
    }
  }
  main {
    max-width: 992px;
  }
  .functioning {
    &__steps {
      width: 92%;
      margin: auto;
    }
    &__step {
      width: 50%;
      padding: 15px 0;
      &:nth-child(2) {
        margin-left: auto;
        margin-right: auto;
      }
      &:nth-child(3) {
        margin-left: 50%;
      }
    }
  }
  .section__title {
    display: flex;
    justify-content: center;
    h2 {
      font-size: 18px;
    }
  }
  .restaurants {
    &__all {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .footer {
    &__title {
      display: flex;
      justify-content: center;
      padding-left: 0px;
    }
    &__parts ul {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      li {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  body {
    max-width: 1440px;
    margin: auto;
  }
  main {
    max-width: 1440px;
  }
  .functioning {
    &__steps {
      width: 80%;
      margin: auto;
      display: flex;
    }
    &__step {
      width: 50%;
      padding: 15px 0;
      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }
  .restaurants {
    max-width: 1440px;
    padding-bottom: 40px;
    &__all {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .restaurants__card__new {
    right: 10%;
  }
  .footer {
    margin-top: 0;
  }
  .container__spinner {
    max-width: 1440px;
    .spinner {
      margin: auto;
      justify-content: center;
    }
  }
}
