@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'styles';

body {
  background-color: rgb(223, 223, 223);
}

.header {
  background-color: #fff;
  @include center;
  padding: 10px 0 0px 0;
  a {
    text-decoration: none;
    color: black;
    i {
      position: relative;
      left: 25px;
    }
  }
  &__logo {
    border-bottom: none;
  }
}
.image {
  height: fit-content;
  img {
    border-radius: -30px;
    max-width: 992px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    object-fit: cover;
  }
}

#menu {
  width: 100%;
  display: flex;
  .menu {
    margin-top: -50px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: rgb(223, 223, 223);
    &__title {
      max-width: 650px;
      @include center;
      justify-content: space-between;
      padding: 20px;
      border-radius: 30px;
      h1 {
        font-family: 'Shrikhand';
      }
      i {
        font-size: 20px;
      }
      i.heart-full {
        display: none;
      }
      &__heart {
        width: fit-content;
        position: relative;
        top: 17px;
        right: 10%;
        transition: 0.4s ease-in-out;
        .heart-empty {
          position: relative;
          top: -18px;
          left: 85%;
          cursor: pointer;
          font-size: 25px;
          transition: 0.3s ease-in-out;
        }
        .heart-full {
          display: none;
          cursor: pointer;
          position: relative;
          top: -18px;
          left: 85%;
          font-size: 20px;
          -webkit-animation: scale-up-center 0.4s
            cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
            both;
          transition: 0.5s ease-in-out;
        }
        &:hover {
          .heart-empty {
            display: none;
          }
          .heart-full {
            display: block;
            font-size: 25px;
            color: #9356dc;
            color: linear-gradient(
              180deg,
              rgba(147, 86, 220, 1) 44%,
              rgba(255, 121, 218, 1) 94%
            );
          }
        }
      }
    }
    &__content {
      max-width: 650px;
      width: 100%;
      &__bloc {
        .menu__title {
          padding: 0 0 0 5%;
          text-transform: uppercase;
          margin-bottom: 15px;
          h3 {
            font-weight: 400;
            position: relative;

            &::after {
              content: '';
              width: 50px;
              height: 4px;
              background: #99e2d0;
              position: absolute;
              z-index: 20;
              left: 0px;
              bottom: -8px;
            }
          }
        }
      }

      .menu__meal {
        animation-delay: 0.1s;
        cursor: pointer;
        position: relative;
        box-shadow: 2px 2px 2px #ccc, 2px 2px 2px #ccc, 2px 2px 2px #ccc;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
        width: 92%;
        margin-bottom: 15px;
        overflow: hidden;
        .meal-and-price {
          overflow: hidden;
          width: 100%;
          display: flex;
          justify-content: space-between;

          .menu__meal__infos {
            white-space: nowrap;
            overflow: hidden;
            .meal__title {
              h2 {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
              }
            }
            .meal__subtitle {
              display: flex;
              p {
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 5px;
                font-size: 12px;
              }
            }
          }
          .meal__price {
            display: flex;
            align-items: end;
            font-weight: 800;
            transition: 0.5s ease-in-out;
          }
        }
        &__valid {
          display: none;
          position: absolute;
          background: $third;
          border-radius: 0 10px 10px 0;
          right: 0px;
          top: 0;
          padding: 0 13px;
          height: 100%;
          -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
          animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          i {
            -webkit-animation: rotate 0.6s ease-in-out both;
            animation: rotate 0.6s ease-in-out both;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 30px;
          }
        }
        &:hover {
          .meal__price {
            padding-right: 55px;
          }
          .menu__meal__valid {
            display: flex;
          }
        }
      }
    }
  }
}

.meal-1 {
  animation-name: meal;
  animation-duration: 1s;
}
.meal-2 {
  animation-duration: 1.5s;
  animation-name: meal-2;
}
.meal-3 {
  animation-duration: 2s;
  animation-name: meal-3;
}
.meal-4 {
  animation-duration: 2.5s;
  animation-name: meal-4;
}

.command-btn {
  @include center;
}

@media screen and (min-width: 650px) {
  #menu {
    .menu {
      &__title {
        margin-left: 50%;
        transform: translate(-30%);
        margin-bottom: 20px;
      }
      &__content {
        max-width: 992px;
        width: 100%;
      }
      &__meal {
        padding: 20px;

        width: 60%;

        h2 {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .image {
    img {
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 50vh;
    }
  }
  #menu {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    .menu {
      margin: auto;
      max-width: 1000px;
      width: 100%;
      &__content {
        max-width: 1400px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &__meal {
          width: 92%;
        }
      }
    }
  }
}
